@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    background-color: #1F2937;
    padding: 1em 13em;
}

/*NAV*/

#logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.secondary,
a:link {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/*WELCOME*/

.welcome {
    display: flex;
    gap: 2em;
    padding: 7em 0;
    justify-content: center;
    align-items: center;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
    background-color: gray;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

button {
    background-color: #3382f6;
    padding: 7px 1em;
    width: 120px;
    border-radius: 8px;
}

.welcome button {
    border: none;
}

/*MAIN*/

main {
    padding: 0em 13em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    max-width: 200px;
}

.square {
    height: 160px;
    width: 160px;
    border: 4px solid #3382f6;
    border-radius: 20px;
}

.card-container p{
    font-weight: lighter;
}

/*QUOTE*/

.quote {
    background-color: #e5e7eb;
    padding: 7em 13em;
    display: flex;
}

.content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1F2937;

}

.quote em {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
}

/*SIGNUP*/

.sign-up {
    padding: 5em 13em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1200px;
}

.blue-rectangle {
    height: 200px;
    background-color:#3382f6;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h3 {
    color: #f9faf8;
    font-weight: 900;
}

.text h4 {
    color:#f9faf8;
    font-weight: 100;
}

.blue-rectangle button {
    color: #f9faf8;
    border-color:white;
    border: 2px solid #fff;
}

/*FOOTER*/

footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}
    



